/*
FONTS:
headline: font-family: 'Monoton', cursive;
subheader: font-family: 'Luckiest Guy', cursive;
data: font-family: 'PT Sans Narrow', sans-serif;

COLORS:
darkest: #042037;
dark: #123552;
medium: #2A4F6E;
light: #496C89;
lightest: #728DA5;
*/
body {
  background-image: linear-gradient(rgb(172, 183, 192), #2A4F6E);
}
#gameBox {
  width: 960px;
  margin: 30px auto;
  text-align: center;
}
img {
  width: 200px;
  float: left;
  margin: 10px;
  border: 5px ridge #2A4F6E;
}
header {
  width: 100%;
  margin-top: 30px;
}
p {
  width: 100%;
  margin: 0 auto;
  font-family: 'Luckiest Guy', cursive;
  font-size: 30px;
  color: #123552;
}
#displayArea {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  margin-top: 30px;
  overflow: hidden;
}
h1 {
  font-size: 100px;
  font-family: 'Monoton', cursive;
  color: white;
}
/* this is the results ul:
#results {
  width: 40%;
  margin: 10px auto;
  background-color: #FF8A84;
  color: #670500;
  font-size: 20px;
  font-family: 'PT Sans Narrow', sans-serif;
}
li {
  padding: 3px;
} */
#roundsForm {
  position: absolute;
  top: 20;
  left: 20;
}
#roundsForm, input {
  margin-left: 5px;
  margin-bottom: 3px;
  font-family: 'PT Sans Narrow', sans-serif;
  color: #2A4F6E;
}
canvas {
  margin-top: 50px;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
img:hover {
  animation-name: spin;
  animation-duration: .5s;
}




